body {
    min-height: 100vh;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
}


.main-body {
    padding-top: 60px;
}

.auth-body {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.auth-container {
  margin-top: 120px;
  max-width: 400px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.auth-title {
  font-size: 32px;
  font-weight: bold;
  color: #0d6efd;
  text-align: center;
  margin-top: 40px;
}

.btn-primary {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.btn-success {
  background-color: #198754 !important;
  border-color: #198754 !important;
}

.brand-hover {
  font-weight: bold;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.brand-hover:hover {
  transform: scale(1.08);
}

.link-hover {
  transition: color 0.3s ease, transform 0.3s ease;
}

.link-hover:hover {
  color: #0dcaf0 !important;
  transform: scale(1.08);
}

.navbar {
  background: linear-gradient(90deg, #6a11cb, #2575fc) !important;
}

.navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white !important;
}

.hover-shadow:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.home-card {
  border-radius: 1.5rem !important;
  background: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-card {
  max-width: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-5px);
}

.profile-card {
  max-width: 600px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.profile-label {
  color: #0d6efd;
  font-weight: 600;
}